$font-stack: 100% San Francisco,
sans-serif;
$green-primary: #66C3BC;
$white: #FFFFFF;
$inner-rect-width: 940px;
$inner-rect-height: 613px;
$form-submission-header-size: 2.25em;
$grey-forms: #909090;
$forty-break: 40px;
$inner-form-text: 1.125em;
$input-height: 30px;
$input-border-color: #979797;
$filename-text: #797979;
body {
    font: $font-stack;
    background-color: $green-primary;
}

.whiteRect {
    background: $white;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    height: $inner-rect-height;
    width: $inner-rect-width;
    h3 {
        font-size: $form-submission-header-size;
        color: $grey-forms;
        position: relative;
        margin-top: $forty-break * 1.5;
        font-weight: normal;
    }
    form {
        position: relative;
    }
    label {
        margin: 0px;
        padding: 0px;
        font-size: 1.25em;
        color: #66C3BC;
        float: left;
        font-weight: normal;
    }
    input {
        @mixin inputBorders() {
            border-top: 0px solid;
            border-bottom: 1px solid;
            border-right: 0px solid;
            border-left: 0px solid;
        }
        @mixin inputMargins() {
            margin: 14px 0px 0px 0px;
        }
        @mixin reset-paddings() {
            padding: 0px 0px 0px 0px;
        }
        font-size: $inner-form-text;
        background-color: transparent;
        width: 100%;
        border-color: $grey-forms;
        @include inputBorders();
        height: $input-height;
        @include inputMargins();
        @include reset-paddings();
        border-color: $input-border-color;
        color: $grey-forms;
    }
    *:focus {
        outline: 0;
    }
}

.formrow {
    &.break {
        margin-top: $forty-break;
    }
    &.breakMid {
        margin-top: $forty-break*1.5;
    }
}

.btn {
    background: $green-primary;
    text-align: center;
    padding: auto;
    color: $white;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: left;
    &:hover {
        background: darken($green-primary, 5);
    }
    &:active {
        background: darken($green-primary, 10);
    }
    &.submitButton {
        width: 61px;
        height: 31px;
        margin-top: 12px;
    }
    &.transitionButton {
        width: 140px;
        height: 49px;
        margin-top: 20px;
    }
}

.buttonandtext {
    display: inline;
}

#resumeFilename {
    position: relative;
    margin-top: 16px;
    margin-left: $forty-break * 7/4;
    color: $filename-text;
}